#logo {
    background-color: #232323;
    border-color: #72bb53 !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-shadow: 0 0 20px, 0 0 40px, 0 0 80px, 0 0 100px;
    text-align: center;
}
    #logo pre {
        overflow: visible;
    }

#asciiLarge {
    line-height: 1.1em;
    font-family: 'Courier New', monospace;
    font-size: 21px;
    background-color: #232323;
    color: #72bb53;
    border: none;
}

#asciiMedium {
    line-height: 1.1em;
    font-family: 'Courier New', monospace;
    font-size: 12px;
    background-color: #232323;
    color: #72bb53;
    border: none;
}

@media screen and (max-width: 1024px) {
    #asciiLarge {
        font-size: 14px;
    }

    #asciiMedium {
        font-size: 8px;
    }
}

@media screen and (max-width: 600px) {
    #asciiLarge {
        font-size: 7px;
    }

    #asciiMedium {
        font-size: 4px;
    }
}

#asciiSmall {
    line-height: 1.2em;
}

#mapPreview {
    line-height: 1.1em;
    font-family: Courier New, Courier, monospace;
    background-color: #232323;
    color: #72bb53;
    max-height: 400px !important;
}

hr {
    border-top-color: #72bb53 !important;
}

a {
    color: #72bb53 !important;
    text-decoration: underline !important;
}
    a:hover {
        color: #94f36d;
    }

.navbar a {
    text-decoration: none !important;
}

dl {
    align-content: center;
    font-size: larger;
}

h2, h3 {
    text-align: center !important;
}

body p {
    text-align: center;
}

input[type=text] {
    background-color: #424242;
    color: #72bb53;
}

    input[type=text]:focus {
        border-color: #72bb53;
        outline: 0;
    }

input[type=number] {
    background-color: #424242;
    color: #72bb53;
}

    input[type=number]:focus {
        border-color: #72bb53;
        outline: 0;
    }

input[type=password] {
    background-color: #424242;
    color: #72bb53;
}

    input[type=password]:focus {
        border-color: #72bb53;
        outline: 0;
    }

input[type=button], input[type=submit], input[type=reset] {
    background-color: #72bb53;
    border-color: #424242;
    color: black;
}

    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
        background-color: #91f764;
        border-color: #72bb53;
        outline: 0;
    }

.form-control {
    background-color: #424242 !important;
    color: #72bb53 !important;
}
    .form-control:focus {
        border-color: #72bb53 !important;
    }

#addLabel p {
    font-weight: 700;
}
}
/*select {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #424242;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) calc(1em - 4px), calc(100% - 10px) calc(1em - 4px), calc(100% - 2.2em) 0em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}
    select:focus {
        background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        border-color: green;
        outline: 0;
    }*/
