body {
}

#ascii {
    line-height: 110%;
}

hr {
    border-top-color: #72bb53 !important;
}

a {
    color: #72bb53 !important;
    text-decoration: underline !important;
}
    a:hover {
        color: #94f36d;
    }

.navbar a {
    text-decoration: none !important;
}

dl {
    align-content: center;
    font-size: larger;
}

h2, h3 {
    text-align: center !important;
}

body p {
    text-align: center;
}

input[type=text] {
    background-color: #424242;
    color: #72bb53;
}
    input[type=text]:focus {
        border-color: #72bb53;
        outline: 0;
    }

input[type=number] {
    background-color: #424242;
    color: #72bb53;
}
    input[type=number]:focus {
        border-color: #72bb53;
        outline: 0;
    }

input[type=password] {
    background-color: #424242;
    color: #72bb53;
}

    input[type=password]:focus {
        border-color: #72bb53;
        outline: 0;
    }

input[type=button], input[type=submit], input[type=reset] {
    background-color: #72bb53;
    border-color: #424242;
    color: black;
}
    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
        background-color: #91f764;
        border-color: #72bb53;
        outline: 0;
    }

select {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #424242;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) calc(1em - 4px), calc(100% - 10px) calc(1em - 4px), calc(100% - 2.2em) 0em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}
        select:focus {
            background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
            background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
            background-size: 5px 5px, 5px 5px, 1px 1.5em;
            background-repeat: no-repeat;
            border-color: green;
            outline: 0;
        }