@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1" id="logo">
            <pre id="asciiLarge">


 ██████╗ ██████╗ ██████╗ ███████╗
██╔════╝██╔═══██╗██╔══██╗██╔════╝
██║     ██║   ██║██║  ██║█████╗  
██║     ██║   ██║██║  ██║██╔══╝  
╚██████╗╚██████╔╝██████╔╝███████╗
 ╚═════╝ ╚═════╝ ╚═════╝ ╚══════╝

  ██████╗  ██████╗ ██████╗ ██╗     ██╗███╗   ██╗███████╗
 ██╔════╝ ██╔═══██╗██╔══██╗██║     ██║████╗  ██║██╔════╝
 ██║  ███╗██║   ██║██████╔╝██║     ██║██╔██╗ ██║███████╗
 ██║   ██║██║   ██║██╔══██╗██║     ██║██║╚██╗██║╚════██║
 ╚██████╔╝╚██████╔╝██████╔╝███████╗██║██║ ╚████║███████║
  ╚═════╝  ╚═════╝ ╚═════╝ ╚══════╝╚═╝╚═╝  ╚═══╝╚══════╝
            <p id="asciiMedium">
███╗   ███╗ █████╗ ██████╗ ███╗   ███╗ █████╗ ██╗  ██╗███████╗██████╗ 
████╗ ████║██╔══██╗██╔══██╗████╗ ████║██╔══██╗██║ ██╔╝██╔════╝██╔══██╗
██╔████╔██║███████║██████╔╝██╔████╔██║███████║█████╔╝ █████╗  ██████╔╝
██║╚██╔╝██║██╔══██║██╔═══╝ ██║╚██╔╝██║██╔══██║██╔═██╗ ██╔══╝  ██╔══██╗
██║ ╚═╝ ██║██║  ██║██║     ██║ ╚═╝ ██║██║  ██║██║  ██╗███████╗██║  ██║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝
        
        </p></pre>
        </div>
    </div>
</div>      

    @if (!User.Identity.IsAuthenticated)
    {
        <p style="text-align:center;">@Html.ActionLink("Click here to continue.", "Register", "Account")</p>
    }
