@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #232323;">
    <pre class="lead" id="asciiLarge" style="font-family: 'Courier New', monospace; background-color: #232323; color: #72bb53; border-color: #72bb53;">


                       ██████╗ ██████╗ ██████╗ ███████╗
                      ██╔════╝██╔═══██╗██╔══██╗██╔════╝
                      ██║     ██║   ██║██║  ██║█████╗
                      ██║     ██║   ██║██║  ██║██╔══╝
                      ╚██████╗╚██████╔╝██████╔╝███████╗
                       ╚═════╝ ╚═════╝ ╚═════╝ ╚══════╝

              ██████╗  ██████╗ ██████╗ ██╗     ██╗███╗   ██╗███████╗
             ██╔════╝ ██╔═══██╗██╔══██╗██║     ██║████╗  ██║██╔════╝
             ██║  ███╗██║   ██║██████╔╝██║     ██║██╔██╗ ██║███████╗
             ██║   ██║██║   ██║██╔══██╗██║     ██║██║╚██╗██║╚════██║
             ╚██████╔╝╚██████╔╝██████╔╝███████╗██║██║ ╚████║███████║
              ╚═════╝  ╚═════╝ ╚═════╝ ╚══════╝╚═╝╚═╝  ╚═══╝╚══════╝
    <p id="asciiMedium" style="font-family: 'Courier New', monospace; font-size: 10px; text-align:center; background-color: #232323; color: #72bb53;">
███╗   ███╗ █████╗ ██████╗ ███╗   ███╗ █████╗ ██╗  ██╗███████╗██████╗
 ████╗ ████║██╔══██╗██╔══██╗████╗ ████║██╔══██╗██║ ██╔╝██╔════╝██╔══██╗
 ██╔████╔██║███████║██████╔╝██╔████╔██║███████║█████╔╝ █████╗  ██████╔╝
 ██║╚██╔╝██║██╔══██║██╔═══╝ ██║╚██╔╝██║██╔══██║██╔═██╗ ██╔══╝  ██╔══██╗
 ██║ ╚═╝ ██║██║  ██║██║     ██║ ╚═╝ ██║██║  ██║██║  ██╗███████╗██║  ██║
 ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝
                                                                      </p>
         </pre>

    @if (!User.Identity.IsAuthenticated)
    {
        <p style="text-align:center;">@Html.ActionLink("Click here to continue.", "Register", "Account")</p>
    }
    </div>
