@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1" id="logo">
            <pre id="asciiLarge">


 ██████╗ ██████╗ ██████╗ ███████╗
██╔════╝██╔═══██╗██╔══██╗██╔════╝
██║     ██║   ██║██║  ██║█████╗  
██║     ██║   ██║██║  ██║██╔══╝  
╚██████╗╚██████╔╝██████╔╝███████╗
 ╚═════╝ ╚═════╝ ╚═════╝ ╚══════╝

  ██████╗  ██████╗ ██████╗ ██╗     ██╗███╗   ██╗███████╗
 ██╔════╝ ██╔═══██╗██╔══██╗██║     ██║████╗  ██║██╔════╝
 ██║  ███╗██║   ██║██████╔╝██║     ██║██╔██╗ ██║███████╗
 ██║   ██║██║   ██║██╔══██╗██║     ██║██║╚██╗██║╚════██║
 ╚██████╔╝╚██████╔╝██████╔╝███████╗██║██║ ╚████║███████║
  ╚═════╝  ╚═════╝ ╚═════╝ ╚══════╝╚═╝╚═╝  ╚═══╝╚══════╝
            <p id="asciiMedium">
███╗   ███╗ █████╗ ██████╗ ███╗   ███╗ █████╗ ██╗  ██╗███████╗██████╗ 
████╗ ████║██╔══██╗██╔══██╗████╗ ████║██╔══██╗██║ ██╔╝██╔════╝██╔══██╗
██╔████╔██║███████║██████╔╝██╔████╔██║███████║█████╔╝ █████╗  ██████╔╝
██║╚██╔╝██║██╔══██║██╔═══╝ ██║╚██╔╝██║██╔══██║██╔═██╗ ██╔══╝  ██╔══██╗
██║ ╚═╝ ██║██║  ██║██║     ██║ ╚═╝ ██║██║  ██║██║  ██╗███████╗██║  ██║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝
        
        </p></pre>
            <img id="androidLogo" style="display:none;" src="~/Content/codegoblinslogo-android.png" />
        </div>
    </div>
</div>

@if (!User.Identity.IsAuthenticated)
{
    <p style="text-align:center;">@Html.ActionLink("Click here to continue.", "Register", "Account")</p>
}

@section Scripts {
    <script type="text/javascript">
        var ascii = document.querySelector('#asciiLarge');
        var logo = document.querySelector('#logo');
        var img = document.querySelector('#androidLogo');
        if (/Android|BlackBerry/i.test(navigator.userAgent)) {
            ascii.style.display = 'none';
            logo.style.border = 'none';
            img.style.display = 'unset';
        }
    </script>
}