@{
    ViewBag.Title = "Home Page";
}

@*Replace ASCII Logo with image later to avoid font/compatibility issues*@

<div class="jumbotron" style="background-color: #232323;">
    <pre class="lead" style="font-family: 'Courier New', monospace; background-color: #232323; color: #72bb53; border-color: #72bb53;">
                       ██████╗ ██████╗ ██████╗ ███████╗
                      ██╔════╝██╔═══██╗██╔══██╗██╔════╝
                      ██║     ██║   ██║██║  ██║█████╗
                      ██║     ██║   ██║██║  ██║██╔══╝
                      ╚██████╗╚██████╔╝██████╔╝███████╗
                       ╚═════╝ ╚═════╝ ╚═════╝ ╚══════╝

              ██████╗  ██████╗ ██████╗ ██╗     ██╗███╗   ██╗███████╗
             ██╔════╝ ██╔═══██╗██╔══██╗██║     ██║████╗  ██║██╔════╝
             ██║  ███╗██║   ██║██████╔╝██║     ██║██╔██╗ ██║███████╗
             ██║   ██║██║   ██║██╔══██╗██║     ██║██║╚██╗██║╚════██║
             ╚██████╔╝╚██████╔╝██████╔╝███████╗██║██║ ╚████║███████║
              ╚═════╝  ╚═════╝ ╚═════╝ ╚══════╝╚═╝╚═╝  ╚═══╝╚══════╝
    <p style="font-family: 'Courier New', monospace; font-size: 10px; text-align:center; background-color: #232323; color: #72bb53;">
███╗   ███╗ █████╗ ██████╗ ███╗   ███╗ █████╗ ██╗  ██╗███████╗██████╗
 ████╗ ████║██╔══██╗██╔══██╗████╗ ████║██╔══██╗██║ ██╔╝██╔════╝██╔══██╗
 ██╔████╔██║███████║██████╔╝██╔████╔██║███████║█████╔╝ █████╗  ██████╔╝
 ██║╚██╔╝██║██╔══██║██╔═══╝ ██║╚██╔╝██║██╔══██║██╔═██╗ ██╔══╝  ██╔══██╗
 ██║ ╚═╝ ██║██║  ██║██║     ██║ ╚═╝ ██║██║  ██║██║  ██╗███████╗██║  ██║
 ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝
                                                                      </p>
         </pre>

    <p style="text-align:center;">Click here to continue.</p>
</div>
